.navbar {
  background-color: rgb(26, 26, 171) !important;
}

.navbar a {
  color: white !important;
}

.navbar .dropdown-menu a {
  color: black !important;
}

#eco {
  width: 400px;
  height: 400px;
}
