.navbar {
<<<<<<< HEAD
  background-color: rgb(56, 69, 218) !important;
=======
  background-color: rgb(0, 159, 34) !important;
>>>>>>> 24ae6484cc59eb5bba353053d5ceec13e2b85ab7
}

.navbar a {
  color: white !important;
}

.navbar .dropdown-menu a {
  color: black !important;
}

#eco {
  width: 400px;
  height: 400px;
}
